/* Fonts Raleway */
@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway/raleway-regular.eot) format("eot"), url(../fonts/raleway/raleway-regular.woff2) format("woff2"), url(../fonts/raleway/raleway-regular.woff) format("woff"), url(../fonts/raleway/raleway-regular.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway/raleway-bold.eot) format("eot"), url(../fonts/raleway/raleway-bold.woff2) format("woff2"), url(../fonts/raleway/raleway-bold.woff) format("woff"), url(../fonts/raleway/raleway-bold.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway/raleway-medium.eot) format("eot"), url(../fonts/raleway/raleway-medium.woff2) format("woff2"), url(../fonts/raleway/raleway-medium.woff) format("woff"), url(../fonts/raleway/raleway-medium.ttf) format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway/raleway-light.eot) format("eot"), url(../fonts/raleway/raleway-light.woff2) format("woff2"), url(../fonts/raleway/raleway-light.woff) format("woff"), url(../fonts/raleway/raleway-light.ttf) format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway/raleway-thin.eot) format("eot"), url(../fonts/raleway/raleway-thin.woff2) format("woff2"), url(../fonts/raleway/raleway-thin.woff) format("woff"), url(../fonts/raleway/raleway-thin.ttf) format("ttf");
  font-weight: 100;
  font-style: normal;
}

/* Fonts Monserrat */
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat/montserrat-bold.eot) format("eot"), url(../fonts/montserrat/montserrat-bold.woff2) format("woff2"), url(../fonts/montserrat/montserrat-bold.woff) format("woff"), url(../fonts/montserrat/montserrat-bold.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat/montserrat-light.eot) format("eot"), url(../fonts/montserrat/montserrat-light.woff2) format("woff2"), url(../fonts/montserrat/montserrat-light.woff) format("woff"), url(../fonts/montserrat/montserrat-light.ttf) format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat/montserrat-regular.eot) format("eot"), url(../fonts/montserrat/montserrat-regular.woff2) format("woff2"), url(../fonts/montserrat/montserrat-regular.woff) format("woff"), url(../fonts/montserrat/montserrat-regular.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat/montserrat-medium.eot) format("eot"), url(../fonts/montserrat/montserrat-medium.woff2) format("woff2"), url(../fonts/montserrat/montserrat-medium.woff) format("woff"), url(../fonts/montserrat/montserrat-medium.ttf) format("ttf");
  font-weight: 500;
  font-style: normal;
}

/* Fonts Roboto */
@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/roboto-bold.eot) format("eot"), url(../fonts/roboto/roboto-bold.woff2) format("woff2"), url(../fonts/roboto/roboto-bold.woff) format("woff"), url(../fonts/roboto/roboto-bold.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/roboto-bold.eot) format("eot"), url(../fonts/roboto/roboto-bold..woff2) format("woff2"), url(../fonts/roboto/roboto-bold.woff) format("woff"), url(../fonts/roboto/roboto-bold..ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/roboto-light.eot) format("eot"), url(../fonts/roboto/roboto-light.woff2) format("woff2"), url(../fonts/roboto/roboto-light.woff) format("woff"), url(../fonts/roboto/roboto-light.ttf) format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/roboto-light.eot) format("eot"), url(../fonts/roboto/roboto-light.woff2) format("woff2"), url(../fonts/roboto/roboto-light.woff) format("woff"), url(../fonts/roboto/roboto-light.ttf) format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/roboto-medium.eot) format("eot"), url(../fonts/roboto/roboto-medium.woff2) format("woff2"), url(../fonts/roboto/roboto-medium.woff) format("woff"), url(../fonts/roboto/roboto-medium.ttf) format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/roboto-regular.eot) format("eot"), url(../fonts/roboto/roboto-regular.woff2) format("woff2"), url(../fonts/roboto/roboto-regular.woff) format("woff"), url(../fonts/roboto/roboto-regular.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}
/*# sourceMappingURL=fonts.css.map */